.person-table {
    font-family: "Roboto Thin";
    text-align: left;
    width: 100%;
}

.person-table th, td {
    padding: 8px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #cbcbcb;
}

.thead {
    color: white;
    background: #3598db;
}

.tbody tr:nth-child(odd) {
    background: #e4e4e4;
}