.web-development {
    background: #fdeed5;
    font-family: "Arial";
    text-align: left;
    width: 100%;
    margin: 10px;
}

.introduction {
    color: #636769;
    font-weight: lighter;
}

.type-info {
    color: #458bac;
    font-weight: bold;
    padding-top: 8px;
}

.strikethrough {
    text-decoration: line-through;
}

.info {
    color: #857e76;
    font-weight: normal;
    padding-top: 10px;
    text-indent: 15px
}